node_modules/
.env
logs/
error.html
error.png
# Generated appointment files
appointment-*.html
appointment-*.png
appointment-*.txt

error-*.html
error-*.png
error-*.txt
data
unknown-*.html
unknown-*.png
unknown-*.txt